<p id="notice"><%= notice %></p>

<p>
  <strong>Search item:</strong>
  <%= @search_history.search_item %>
</p>

<%= link_to 'Edit', edit_search_history_path(@search_history) %> |
<%= link_to 'Back', search_histories_path %>
