/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*Classes*/
.primary-btn{
    width: 80px;
    height: 38px;
    background-color: #F08080;
}


.search_bar{
    width: 250px;
    height: 35px;
}

/*IDs*/
#currentlocation_button{
    font-size: 15px;
    background-color: #F08080;
    width: 150px;
    height: 38px;
}

#currentlocation_button:hover{
    opacity: 0.8;
}

#go_here_column{
    width: 150px;
}

/*#table_header{*/
    /*width: 500px;*/
    /*border: 3px solid green;*/
    /*word-wrap: break-word;*/
    /*float: left;*/
/*}*/

#center {
    text-align: center;
}
#map {
    height: 400px;
    width: 400px;
    float: left;
}

/*HTML Elements*/
html {
    border: 3px solid green;
    height: 100%;
    width: 100%;
    display: table;
    margin: auto;
    position: relative;
}

body {
    font-family: "Helvetica Neue";
    border: 5px dotted red;
    display: table-cell;
    vertical-align: middle;
    background-color: #F7F7F7;
    margin: 0 0 100px;
    padding-bottom: 30px;
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: 20px;
    margin-bottom: 0px;
    width: 100%;
    clear: both;
    padding-top: 10px;
    background: #F08080;
}

table{
    width: 500px;
    border: 3px solid green;
    word-wrap: break-word;
    float: left;
}

#name_cell:hover{
    background-color: #F08080;
}

td a{

}

td a:link{
    color: red;
    text-decoration: none;
}

td a:visited{
    color: red;
}